@import "../../styles/vars";
.paginate {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.paginateItems {
		& button {
			font-size: 18px;
			font-weight: 700;
			font-style: italic;
			color: $secondGray;
		}
	}
}
.active {
	color: $activeColor !important;
	font-weight: 300 !important;
}
