@import "../../styles/vars";
@import "../../styles/media";

.table {
	border-collapse: collapse;
	.tableHead {
		.tableRow {
			background: $mainGray;
			color: $mainWhite;
			.tableTitle {
				padding: 30px 34px;
				cursor: pointer;
				&:nth-child(1) {
					display: flex;
					gap: 20px;
					@include tablet {
						display: inline-block;
						& button {
							padding-left: 20px;
						}
					}
					@include mobile {
						display: flex;
						padding: 12px 10px;
						& button {
							padding-left: 8px;
						}
					}
				}
				&:nth-child(2),
				&:nth-child(3) {
					& button {
						padding-left: 20px;
						@include mobile {
							padding-left: 8px;
						}
					}
				}
				@include tablet {
					padding: 10px;
				}
				@include mobile {
					padding: 7px;
					font-size: 14px;
					font-weight: normal;
					& button {
						padding: 0;
					}
				}
			}
		}
	}

	.tableBody {
		.tableBodyRow {
			.tableBodyCol {
				font-size: 13px;
				line-height: 17px;
				font-weight: 500;
				padding: 15px;
				border: 1px solid #e3e6ec;
				text-align: left;
				&:first-child {
					text-align: center;
				}
				&:nth-child(2) {
					max-width: 55%;
					width: 100%;
				}
				&:nth-child(3) {
					max-width: 40%;
					width: 100%;
				}
				@include tablet {
					padding: 7px;
				}
			}
		}
	}
	.postTilte {
		cursor: pointer;
	}
}
